{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container content-container">
  <div class="container main-content-container">

    <form class="form" id="form_export" style="width:600px;margin:30px auto 0 auto;">
        <div class="form-group"><label>实践班</label>{{ form.classes }}</div>
        <div class="form-group"><label>志愿</label> {{form.wish}}</div>
        <hr>
        <div class="div-commit">
        <input class="btn btn-primary" value="下载" id="submit_export"></input>
        </div>
    </form>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/home/registration.css"/>
  </div>
</div>
<script type="text/javascript" src="{{STATIC_URL}}js/export.js"></script>
{% endblock %}
